.DS_Store
**/.DS_Store
node_modules
*.log
.env

.vscode/*
!.vscode/extensions.json
webpack/.node-cache/*
*.releaseBackup
release.properties

/frontend/cypress/screenshots/
/frontend/cypress/scripts/files/import.log
/frontend/cypress/scripts/files/*_errors.csv
/frontend/cypress/temp/
/frontend/cypress/videos/

.idea
dist
