@import '@bcgov/bc-sans/css/BCSans.css' layer(base);
@import 'tailwindcss';
@import './buttons.css';
@import './colors.css';

@plugin "@tailwindcss/forms";

@theme {
  --font-sans: 'BCSans', sans-serif;

  /* Theme Animations */
  --animate-pulse-blur: pulse-blur 2.5s linear infinite;

  @keyframes pulse-blur {
    0%,
    50%,
    100% {
      transform: scale(1);
      filter: blur(0px);
    }
    25% {
      transform: scale(0.6);
      filter: blur(2px);
    }
    75% {
      transform: scale(1.4);
      filter: blur(2px);
    }
  }
}

@layer base {
  .wysiwyg {
    @apply text-left;
  }
  .wysiwyg h2 {
    @apply border-b border-charcoal-500 font-bold my-6 py-5 text-2xl text-blumine-800;
  }
  .wysiwyg h3 {
    @apply font-bold my-4 text-xl text-blumine-800;
  }
  .wysiwyg ol {
    @apply list-decimal pl-6;
  }
  .wysiwyg ul {
    @apply list-disc pl-6;
  }
  .wysiwyg div {
    @apply my-4;
  }
  .wysiwyg p {
    @apply my-4;
  }
  .wysiwyg a {
    @apply text-blue-600 visited:text-purple-600 underline underline-offset-2;
  }
  /* Prevent blue focus outline in tiptap editor */
  .wysiwyg .ProseMirror:focus {
    outline: none;
    box-shadow: none;
  }

  /* Prevent clickable links while editing in tiptap editor */
  .wysiwyg .ProseMirror a {
    pointer-events: none;
  }
}

@utility ql-video {
  @apply w-full h-96;
}
@utility inline-url {
  @apply text-blue-600 visited:text-purple-600 underline underline-offset-2;
}

@utility breakAfter {
  page-break-after: always;
}

@utility point-up {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

@utility point-down {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

@utility uppy-Root {
  & label {
    font-family: 'BCSans', sans-serif;
  }
  & .uppy-u-reset {
    font-family: 'BCSans', sans-serif;
  }
}

@utility uppy-u-reset {
  .uppy-Root & {
    font-family: 'BCSans', sans-serif;
  }
}
