@import '@bcgov/bc-sans/css/BCSans.css';

/* See Tailwind docs for distinction between base, components, and utilities - https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Changes to wysiwyg classes need to be mirrored in the function passed to the editor e.g.`frontend/app_v2/src/components/Form/WysiwygField.js` */
@layer base {
  .wysiwyg {
    @apply text-left;
  }
  .wysiwyg h2 {
    @apply border-b border-charcoal-500 font-bold my-6 py-5 text-2xl text-blumine-800;
  }
  .wysiwyg h3 {
    @apply font-bold my-4 text-xl text-blumine-800;
  }
  .wysiwyg ol {
    @apply list-decimal pl-6;
  }
  .wysiwyg ul {
    @apply list-disc pl-6;
  }
  .wysiwyg div {
    @apply my-4;
  }
  .wysiwyg p {
    @apply my-4;
  }
}

/* Prevent blue focus outline in tiptap editor */
.wysiwyg .ProseMirror:focus {
  outline: none;
  box-shadow: none;
}

/* These component rules can be over-ridden using utility classes. 
For example over-ride the colour of the btn-contained backgound using bg-scarlet-800 */
@layer components {
  .ql-video {
    @apply w-full h-96;
  }
  .inline-url {
    @apply text-blue-600 visited:text-purple-600 underline underline-offset-2;
  }
  .btn-contained {
    @apply rounded-lg shadow-sm py-2 px-4 inline-flex justify-center items-center space-x-2 text-sm font-medium bg-blumine-800 border border-transparent text-white hover:opacity-80 active:opacity-100;
  }
  .btn-outlined {
    @apply rounded-lg shadow-sm py-2 px-4 inline-flex justify-center items-center space-x-2 text-sm font-medium bg-white border border-blumine-800 text-blumine-800 hover:bg-charcoal-50 active:bg-white;
  }
  .btn-icon {
    @apply fill-current h-5 w-5;
  }

  /* Button base class */
  .btn {
    @apply rounded-3xl inline-flex justify-center items-center space-x-2;
  }

  /* Button base class for icon only buttons */
  .btn-icon-base {
    @apply rounded-full inline-flex justify-center items-center;
  }

  /* Button styles */
  .btn-primary {
    @apply btn bg-blumine-600 text-blumine-100 hover:bg-blumine-800 focus:outline-none focus:ring-2 focus:ring-blumine-300;
  }
  .btn-secondary {
    @apply btn bg-white border border-blumine-900 text-blumine-900 hover:bg-blumine-100 focus:bg-blumine-200 focus:outline-none focus:ring-2 focus:ring-blumine-900;
  }
  .btn-tertiary {
    @apply btn bg-white text-blumine-900 hover:bg-blumine-100 focus:bg-blumine-200 focus:outline-none focus:ring-2 focus:ring-blumine-900;
  }

  /* Button sizes */
  /* Combine with btn-primary, btn-secondary, or btn-tertiary */
  .btn-sm {
    @apply py-1.5 px-3 text-sm min-w-32 h-8;
  }
  .btn-md {
    @apply py-2 px-3 text-base min-w-40 h-10;
  }
  .btn-lg {
    @apply py-2 px-3 text-lg min-w-52 h-12;
  }
  .btn-xl {
    @apply py-3 px-5 text-xl min-w-80 h-14;
  }

  /* Icon only buttons */
  .btn-sm-icon {
    @apply btn-icon-base w-8 h-8;
  }
  .btn-md-icon {
    @apply btn-icon-base w-10 h-10;
  }
  .btn-lg-icon {
    @apply btn-icon-base w-12 h-12;
  }
  .btn-xl-icon {
    @apply btn-icon-base w-14 h-14;
  }

  /* Auto-formatting for icons on buttons with text (Do not use directly) */
  .btn-sm svg {
    @apply w-3.5 h-3.5 fill-current;
  }
  .btn-md svg {
    @apply w-4 h-4 fill-current;
  }
  .btn-lg svg {
    @apply w-5 h-5 fill-current;
  }
  .btn-xl svg {
    @apply w-6 h-6 fill-current;
  }

  /* Auto-formatting for icon-only buttons (Do not use directly) */
  .btn-sm-icon svg {
    @apply w-3 h-3 fill-current;
  }
  .btn-md-icon svg {
    @apply w-6 h-6 fill-current;
  }
  .btn-lg-icon svg {
    @apply w-7 h-7 fill-current;
  }
  .btn-xl-icon svg {
    @apply w-8 h-8 fill-current;
  }
}

@layer utilities {
  .breakAfter {
    page-break-after: always;
  }
  .tooltip {
    @apply invisible absolute;
  }
  .has-tooltip:hover .tooltip {
    @apply visible z-50;
  }
  .uppy-Root label {
    font-family: 'BCSans', sans-serif;
  }
  .uppy-Root .uppy-u-reset {
    font-family: 'BCSans', sans-serif;
  }
}
